.container-hero::after {
  content: "";
  width: 100vw;
  height: 120%;
  /* clip-path: polygon(0 0, 0% 100%, 83% 0); */
  background-color: var(--color-background);
  /* transform: skewX(-6deg); */
  position: fixed;
  z-index: -2020;
  top: -20%;
  left: 0;
  bottom: 0;
  clear: both;
}
.container-hero {
  z-index: 100;
  height: auto;
  width: 100%;
}
/* Hero section */
.hero-left {
  /* max-width: 580px; */
  width: 100%;
  z-index: 10;
  float: left;
  text-align: center;
  margin-bottom: 2.5rem;
}
.hero-left p {
  padding: 0 10%;
}
.hero-left__title {
  font-size: 38px;
  /* max-width: 74%; */
  font-family: var(--fontFamily-Merriweather);
  font-weight: 400;
  color: var(--color-heading);
  line-height: 1.2;
  margin-top: 0;
}

.hero-right img {
  display: block;
  /* width: 80%; */
  position: relative;
  margin: 0 auto;
}
@media (min-width: 48.1rem) {
  .hero-left {
    max-width: 580px;
    /* z-index: 2020; */
    float: left;
    text-align: left;
    margin-bottom: 2.5rem;
  }
  .hero-left p {
    padding: 0;
    max-width: 74%;
  }
  .hero-left__title {
    font-size: 42px;
    max-width: 74%;
    color: var(--color-heading);
    line-height: 1.2;
    margin-top: 0;
  }

  .hero-right {
    width: 15%;
    /* z-index: 2020; */
    float: right;
  }
  .hero-right img {
    width: 500px;
    top: -50px;
    float: right;
    z-index: -1;
  }
}
.hero-button {
  background-color: var(--color-highlight);
  border: 1px solid var(--color-highlight);
  padding: 13px 30px;
  border-radius: 8px;
}
.hero-button a {
  font-size: 18px;

  font-weight: bold;
  text-decoration: none;
  color: white;
  letter-spacing: 0.8px;
}
.hero-hr {
  width: 30%;
  background-color: var(--color-highlight);
  height: 2px;
}
